	<!--NEP-->
	<body class="homepage is-preload">
		<div id="page-wrapper">
			<!-- Header -->
				<section id="header">
					<div class="container">
						<!-- Logo -->
							<h1 id="logo"><a href="#">Accounts For </a></h1>
							<br>
							<h3>
								###filter###
							</h3>
						<!-- Nav -->
							<nav id="nav">
								<ul>
									###menu###
								</ul>
							</nav>
					</div>
				</section>
			<!-- Footer -->
				<section id="footer">
					<div class="container">
						<header>
							<p><strong>###message###</strong></p>
						</header>
                            <h3>Accounts for ###filter###</h3>
                            <button class="button icon solid fa-file">Accounts for ###filter###</button>
                            <div>
                                <p>&nbsp;<b>&rarr;</b>&nbsp;###accountsCall###</p>
                                ###accounts###
                            </div>
					</div>
					<div id="copyright" class="container">
						<ul class="links">
							###copyStuff###
						</ul>
					</div>
				</section>
		</div>
		<!-- Scripts -->
		<script>
			var acc = document.getElementsByClassName("accordion");
			var i;
			for (i = 0; i < acc.length; i++) {
			  acc[i].addEventListener("click", function() {
				this.classList.toggle("active");
				var panel = this.nextElementSibling;
				if (panel.style.display === "block") {
				  panel.style.display = "none";
				} else {
				  panel.style.display = "block";
				}
			  });
			}
		</script>
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/jquery.dropotron.min.js"></script>
		<script src="assets/js/browser.min.js"></script>
		<script src="assets/js/breakpoints.min.js"></script>
		<script src="assets/js/util.js"></script>
		<script src="assets/js/main.js"></script>
	</body>
</html>