<!-- PATCH -->
<div class="row">
        <table>
            <!-- hidden -->
            <tr>
                <td colspan="2"><!--HIDDEN INPUTS-->
                    <input type="hidden" name="postName" value="accountTypesPatch">
                    <input type="hidden" name="guid" value="###guid###">
                </td>
            </tr>
            <!-- heading -->
            <tr>
                <th colspan="2" style="background-color: rgb(240, 220, 245);">Read Actual data for [ ###name### ]:</th>
            </tr>
            <!-- other td-s -->
            ###readTDvalues###
        </table>
</div>
